html {
  background-color: #23272a;
}

h1 {
  font-size: 3em;
  font-family: sans-serif;
  color: white;
}

textarea {
  border-color: #7289da;
  border-style: solid;
  border-radius: 1em;
  background-color: #2c2f33;
  color: #7289da;
}

input {
  border-color: #7289da;
  border-style: solid;
  border-radius: 1em;
  background-color: #2c2f33;
  color: #7289da;
}

.blue {
  color: #7289da;
}

textarea {
  color: #99aab5;
}

.radio {
  color: #7289da
}
